.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../assets/img/started/webpack-logo.png");
    &-logo {
        width: 200px;
    }
}